@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    line-height: 1,5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Header*/
header{
    background: #fff;
}
header nav{
    font-size: 22px;
    width: 1200px;
    margin: 10px 5px;
    height: 50px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
ul li{
    list-style: none;
}
.nav-anchor{
    margin-left: 15px;
    text-decoration: none;
    color: #2f0a34;
    transition: all 0.5s ease;
}
.nav-anchor:hover{
    color: #dd2cf5;
}
.hero-section img{
    border-radius: 50%;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Main*/

/*Footer*/
footer{
    display: flexbox;
    flex-wrap: wrap;
    
}
footer .container{
    background-color: #ffcff6;
    width: 100%;
    height: auto;
}
.container{
    display: flex;
    flex-direction: row;
}
.footer-div{
    width: 50%;
    text-align: center;
}
.footer-head{
    font-size: 24px;
    margin-bottom: 30px;
}
footer .container .footer-div .footer-anchor{
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #dd2cf5;
    background-color: white;
    transition: all 0.3s ease;
    margin: 2px 10px;
}
footer .container .footer-div a:hover{
    color: white;
    background: #dd2cf5;
}