body{
    background-color: #f0ecf2;
    margin:0;
}
/*Nav*/
nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-right: 5%;
}
nav li {
    padding-left: 1em;
}
a{
    text-decoration: none;
    font-size: 2em;
    color:#581e75
}
a:hover{
    color:#b663df;
}
/*Header*/
#inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Main*/
/*el main van a ser 2 "cards" la primera va a ser de masajes y la otra de reiki, van a tener el mismo estilo*/
#servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios{
    background-color:#7f7979;
    width: 60%;
    text-align: center;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info input{
    width: 15%;
    border-radius: 5px;
}
#info select{
    width: 15%;
}
#info button{
    width: 4em;
}
/*Footer*/
.footer{
    background-color: black;
}
.contactarse{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2%;
}
/*Otros estilos*/
hr{
    color: #581e75;
}
button{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 5px;
    background-color: white;
    color: #a953b9;
}
button:hover{
    background-color: #a953b9;
    color: white;
    }